
<br>
<br>
<% @consultants.each do |consultant| %>
    <p><%= link_to "#{consultant.name}, grade #{consultant.grade}", consultant %></p>
    <%end%>

    <%= link_to "All Open Inquiries", appointments_path,
                method: :get,
                :class => 'btn btn-primary btn-block' %>
