<br>
<br>
<br>
<br>
<ul>
<% @appointments.each do |appt| %>
    <li><%= link_to "#{appt.client.first_name} #{appt.client.last_name}", appt.client %></li>
    <p><%= appt.issue %></p>
    <p><%= appt.notes %></p>
    <p>resolved: <%= appt.resolved %></p>
    <br>
    <%end%>
    </ul>